/.idea/
*.iml
package-lock.json
node_modules/
steamworkshop/
/.env
workshopitem*.vdf
/GameLite
.l1.cache.zlib
.l2.cache.zlib
.l3.cache.zlib
.l1.type-gen.cache.zlib
/DLCGameData/
sdk
Mods/HeadlessArmors/.gdocs.armors.cache.json
Mods/MasterMod/.gdocs.quest-data-table.cache.json
100_Rad_bar__SFX_.uasset
*.zip
nodejs/
/types.mts
.gdrive.access-token.cache.json

stalker_commands.txt
**/Resources/Icon128.png
.claude/
.injected-gamedata-files.json
