/.idea/
package-lock.json
node_modules/
/helpers/structs.txt
/helpers/rightParts.txt
/helpers/leftParts.txt
SpawnActorPrototypes
/Stalker2/Content/
raw/
steamworkshop/
/.env
workshopitem.vdf
GameLite
.l1.cache.json
.l2.cache.json
.l3.cache.json
